div.state-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  text-align: center;

  & > .title {
    font-size: var(--font-size-xl);
    font-weight: bold;
  }

  & > .subtitle {
    font-size: var(--font-size-lg);
  }
}